//Variables
$star-color: goldenrod;

.stars {

  .star {
    color: $star-color;
    font-size: 2rem;
    padding: 0 1rem;
    &::before {
      content: '\2606';
      cursor: pointer;
    }

    .rated {
      &::before {
        content: '\2605';
      }
    }
  }
}